.venv/
venv/


.env
.env.*



*.db
*.sqlite
*.db-journal


__pycache__/
*.py[cod]
.python-version


*.egg-info/
dist/
build/


.idea/
.vscode/
*.swp
*.swo


uv.lock
pip-lock.json
poetry.lock


*.ipynb
.ipynb_checkpoints/


.DS_Store
Thumbs.db
